


 <div class="header">
 <i  (click)="onPreviousMonth()" class="bi bi-arrow-left"></i>
  <span> {{ monthName }} &nbsp; {{ year }} </span>
  <i (click)="onNextMonth()" class="bi bi-arrow-right"></i>
</div>
<div class="calendar">


  <span *ngFor='let weekDay of weekDaysName' class="day">
    {{ weekDay }}
  </span>

  <span *ngFor='let day of daysInMonth' class="day" [ngClass]="{'today-date': day.isToday}">
    {{ day.number }}
  </span>
</div>



















<!-- <div>
  <button (click)="onPreviousMonth()"> Previous </button>
  <span> {{ calendarService.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
  <button (click)="onNextMonth()"> Next </button>
</div>

<br>

<div class="calendar">
  <span *ngFor='let weekDay of weekDaysName' class="day">
    {{ weekDay }}
  </span>

  <span *ngFor='let day of monthDays' class="day" [ngClass]="{'blue-date': day.isToday}">
    {{ day.number }}
  </span>
</div> -->